<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
    <div th:insert="bootstrap:: link"></div>
</head>
<body>

<div th:insert="header :: header-singer"></div>

<div class="container">
    <div th:if="${not #lists.isEmpty(songs)}">
        <div th:each="song : ${songs}">
            <div class="card-body col mb-4 border my-sm-3">
                <h3 class="card-title" th:text="${song.name}"></h3>

                <p>
                    <strong>Singer: </strong>
                    <span th:text="${song.singer.name}"></span>
                </p>
                <p>
                    <strong>Album: </strong>
                    <span th:text="${song.album}"></span>
                </p>
                <p>
                    <strong>Release date: </strong>
                    <span th:text="${song.releaseDate}"></span>
                </p>
            </div>
        </div>
    </div>
</div>


</body>
</html>