<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">


<div th:insert="bootstrap:: link"></div>

<head>
    <title>Login</title>
</head>

<body class="content">

<div th:insert="header :: header-guest"></div>


<div class="container">

    <div th:if="${param.logout}" class="alert alert-primary my-sm-3 " role="alert">
        You have been logged out.
    </div>

    <div th:if="${param.error}" class="alert alert-primary my-sm-3 " role="alert">
        Invalid username and password.
    </div>

    <h2 class="my-sm-3">Authorization</h2>

    <form th:action="@{/login}" method="post">

        <div class="form-group">

            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="username" aria-describedby="emailHelp"
                   placeholder="Email"
                   required>
        </div>

        <div class="form-group">

            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                   required>
        </div>

        <button type="submit" class="btn btn-success">Sign in</button>
    </form>
</div>

<div th:insert="bootstrap:: script"></div>

</body>
</html>